<!DOCTYPE html>
<html lang="en">
<head>

  <script src="https://kit.fontawesome.com/4217479914.js" crossorigin="anonymous"></script>
  <!-- tell Microsoft Internet Explorer to use the latest rendering engine (edge) -->
  <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
  <!--  The charset attribute specifies the character encoding for the HTML document.-->
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <title>Weather Updates</title>
  <link rel="stylesheet" href="../static/css/home.css">
  <link rel="stylesheet" href="../static/css/3days.css">
  <link rel="icon" href="../static/images/icon.png"

</head>

<body>
  <div class="header">
    <h1>3days Weather</h1>
  </div>

  <div class="container-1day"
    <div class="weather-container1">
      <div class="weather-icon1">
        <img src="http://api.openweathermap.org/img/wn/${weather[0].icon}=${key}" alt="">
      </div>
      <div class="temperature-value1">
        <p>- °<span>C</span></p>
      </div>
      <div class="temperature-description1">
        <p>-</p>
      </div>
      <div class="location1">
        <p>-</p>
      </div>
    </div>
  </div>
 </body>
  
  
  <script>
    const KELVIN = 273;
    //API KEY
    const key = "b1a41924de447699dd4f762e454ba912"

  </script>
</body>