<!DOCTYPE html>
<html lang="en">
<head>

  <script src="https://kit.fontawesome.com/4217479914.js" crossorigin="anonymous"></script>
  <!-- tell Microsoft Internet Explorer to use the latest rendering engine (edge) -->
  <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
  <!--  The charset attribute specifies the character encoding for the HTML document.-->
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <title>Weather Updates</title>
  <link rel="stylesheet" href="../static/css/home.css">
  <link rel="icon" href="../static/images/icon.png"

</head>

<body>
  <div class="header">
    <h1>7days Weather</h1>
  </div>
</body>
